/*
Stormy = #494E6B
373c52
Cloud = #98878F
Sunset = #985E6D
Evening = #192231

Black = #000
Ink (blue) = #062F2F
Posy (pink) = #813772
Embers (red) = #B82601

*/
.Hr {
  display: block;
  content: "";
  height: 30px;
  margin-top: -5px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  color: #fff;
}

.App-header {
  height: 37px;
  padding: 0 5px 10px 25px;
}

.App-title {
  font-size: 1.72em;
  color: #fff;
}

.Search {
  width: 100%;
  float:center;
  margin: 0 auto;

  display:inline;
  width: 40%;
  padding-left: 50px;
}

.Search input {
  font-size: .65em;
  border: 0;
  padding: 0 10px;
  border: 2px solid rgba(245, 245, 241, 0.1);
  border-radius: 37px;
  outline: none;
  background: transparent;
  transition: border .25s ease, width .125s ease .125s;
  color: #fff;
}

.Search input:focus {
  border: 2px solid rgba(245, 245, 241, 0.1);;
  width: 35%;
}

.Profile {
  float:right;
  width: 20%;
}
.Profile ul {
  display: inline;
  list-style: none;
  height: 37px;
  padding: 0 10px;
}
.Profile ul li {
  display: inline;
  font-weight: 400;
  padding: 7px 10px;
  font-size: 14px;
  border-radius: 3px;
}
.Profile ul li:hover {
  background: #B82601;
  cursor: pointer;
}

.Carousel {
  padding-top: 50px;
}

.Carousel img{
  margin: 0 auto;

}

.Carousel h3, p {
  color: #062F2F;
}

.ButtonGroup {
  text-align: center;
}
.ButtonGroup a{
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  opacity: 1;
}
.Button {
  background: rgba(152,135,143, 0.2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12%;
  height: 85px;
  padding: 10px;
  margin: 35px;
  border-radius: 20px;
}

.Button:hover {
  border: 1px solid #fff;
}
.Button[data-primary='true'] {
  border: 2px solid #fff;
}
.Button[data-primary='true']:hover {
  background: #985E6D;
}

.ShowGrid {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.ShowCol {
  width: 100%;
  height: 75%;
  overflow: scroll;
  background: rgba(25,34,49, 0.5);
  border: 1px solid #000;
}
