/*
Stormy = #494E6B
Cloud = #98878F
Sunset = #985E6D
Evening = #192231
0f131d

Black = #000
Ink (blue) = #062F2F
Posy (pink) = #813772
Embers (red) = #B82601

*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #000;
  /*background-image: url('./images/blue_galaxy.jpg');
  background-size: cover;0f131d*/
}
